.bg-color {
	background-color: #192328;
}

.navbar-inverse 
.navbar-nav>
.active>a, 
.navbar-inverse 
.navbar-nav>
.active>a:focus, 
.navbar-inverse 
.navbar-nav>
.active>a:hover {
	background-color: #555;
  font-family: 'Cabin Condensed', sans-serif;
  border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
border: 0px solid #000000;
}

.nav-row{
  height: 25px;
	width: 100%;
  background-color: #0be;
  text-align: center;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.footer {
  background-color: #222;
  /*background-color: #3c3f41;*/
  height: 80px;
  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
  color: white;
}

.ancho_max_imagen {
-ms-interpolation-mode: bicubic; //hack ie
max-width:500px;
max-height:auto;
}

#nav a {
  font-family: 'Cabin Condensed', sans-serif !important;  
}