.bg-color {
	background-color: #192328;
}

.navbar-inverse 
.navbar-nav>
.active>a, 
.navbar-inverse 
.navbar-nav>
.active>a:focus, 
.navbar-inverse 
.navbar-nav>
.active>a:hover {
	background-color: #555;
  font-family: 'Cabin Condensed', sans-serif;
  border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
border: 0px solid #000000;
}

.nav-row{
  height: 25px;
	width: 100%;
  background-color: #bc63cf;
  text-align: center;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.footer {
  background-color: #192328;
  /*background-color: #3c3f41;*/
  height: 80px;
  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
  color: white;
}

.ancho_max_imagen {
-ms-interpolation-mode: bicubic; //hack ie
max-width:500px;
max-height:auto;
}

#nav a {
  font-family: 'Cabin Condensed', sans-serif !important;  
}

.nombre {
  font-family: 'Cabin Condensed', 'sans-serif';
  color: white;
  font-size: 20px;
  text-align: left;
  margin: 7px 0 0;
  font-weight: 600;
  letter-spacing: -1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.descripcion {
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: -1px;
  padding-bottom: 5px;
}

.conozca {
  font-weight: 800;
  font-size: 30px;
  color: #FFF;
  text-align: center;
  width: 100%;
  letter-spacing: -1px;
}

.middle {
  background-color: #192328;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}

  .titulo {
    font-family: 'Cabin Condensed', 'sans-serif';
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 7px 0 0;
    font-weight: 600;
    letter-spacing: -1px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .desc {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: -1px;
    padding-bottom: 5px;
  }

  .prodesc {
    padding-top: 55px;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 17px;
    text-shadow:
   -1px -2px 0 black,
    1px -1px 0 black,
   -1px 2px 0 black,
    1px 1px 0 black;
    letter-spacing: 0px;
    padding-bottom: 5px;
  }

  .pventa-text {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 17px;
    text-shadow:
   -1px -2px 0 black,
    1px -1px 0 black,
   -1px 2px 0 black,
    1px 1px 0 black;
    letter-spacing: 0px;
  }

  .texto-contacto {
    
    color: white;
    font-size: 17px;
    text-shadow:
   -1px -2px 0 black,
    1px -1px 0 black,
   -1px 2px 0 black,
    1px 1px 0 black;
  }

  .form-contacto {
    font-family: "Segoe UI", "Open Sans", sans-serif, serif;
    color: white;
    font-size: 17px;
    text-shadow:
   -1px -2px 0 black,
    1px -1px 0 black,
   -1px 2px 0 black,
    1px 1px 0 black;
    line-height: 1.1;
    font-weight: 400;
    font-style: normal;
  }

  .border {
    border: 1px solid black;
  }